*.[oadsi]
*.dSYM
*.vim
.*.sw?
.DS_Store
ast-gen.h
ast-gen2.h
ast-one.h
ast-walk-*
basic-types.xi
build
lexer.c
libast.so
libljffifields.so
libluajit.so
parser.c
parser_internal.h
t/test_hash_table
t/test_hash_table_interface
tmp/
tmp/
toycen
tpp
y.output
y.tab.h
