.*.sw?
*.[oadsi]
*.dSYM
lexer.c
pp_lexer.c
parser.c
parser_internal.h
y.output
y.tab.h
toycen
build
tpp
t/test_hash_table
t/test_hash_table_interface
pp_lexer.l
Session.vim
ast-gen.h
ast-gen2.h
basic-types.xi
*.pbxuser
*.mode1v3
ast-walk-test
